button{
    height: 30px;
    width: 100px;
}

.buttonCheckCart{
    margin-bottom: 20px;
    margin-left: 2%;
}

.addProductButton{
    height: 60px;
    width: 100px;
    margin-left: 2%;
}

.cartInfo {
    background-color: #0034d5;
    color: rgb(255, 255, 255);
    width: 400px;
    height: 50px;
    font-weight: bold;
    border: 3px solid;
    border-color: rgba(255, 255, 255, 0.91);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.cartPrice {
    background-color: #0034d5;
    color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    font-weight: bold;
    border: 3px solid;
    border-color: rgba(255, 255, 255, 0.91);
    margin-top: 20px;
    margin-left: 5%;
}

.buyButton{
    margin-top: 20px;
    margin-left: 5%;

}

.delivery {
    margin-top: 30px;
    margin-left: 5%;
}

.addressInput {
    width: 400px;
    height: 200px;
}

.comment{
    margin-top: 30px;
    margin-left: 5%;
}

.commentInput {
    width: 400px;
    height: 20px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-style: italic;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.nextButton{
    margin-top: 20px;
    margin-left: 21%;
}

.showCartButton{
    margin-top: 20px;
    margin-left: 5%;
}